{% extends "blog/base.html "%}<!--here we are extending that base.html file-->

{% block content%} <!--we are overriding that block content-->



{% for p in posts%}
    <article class="media content-section">
      <img class="rounded-circle article-img " src="{{post.author.profilr.image.url}}">
        <div class="media-body">
            <div class="article-metadata">
               <a class="mr-2" href="#">{{ p.author }}</a>
                    <small class="text-muted">{{ p.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post_detail' p.id %}">{{ p.title }}</a></h2>
<!--if we click on name of
             post which is present on home then it will show that name of perticuler post post.id because we are passing an pk to their.-->
           <p class="article-content">{{ p.content }}</p>
        </div>
    </article>

{% endfor %}
{% if is_paginated %}<!-- for paginator-->

     {% if page_obj.has_previous %}<!-- if it has previous page-->
       <a class="btn btn-outline-info mb-4" href="?page=1">First</a><!--link attach to 1st page-->
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a<!--link attach to previous  page-->
     {% endif %}

     {% for num in page_obj.paginator.page_range %}
       {% if page_obj.number == num %}<!--grab thatt page-->
         <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
       {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}<!-- page within range of 3 towaords previous and next-->
         <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
       {% endif %}
     {% endfor %}

     {% if page_obj.has_next %}
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a><!--linkattach to next page-->
       <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a><!--linkattach to last page-->
     {% endif %}

   {% endif %}

{% endblock content%}
